.chart {
    margin-top: 80px;
    -webkit-box-shadow: -2px -2px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 23px -5px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 23px -5px rgba(0,0,0,0.75);
}

.overlay {
    opacity: 0.5;
}


.places {
    padding-bottom: 15px;
}

.range {
}

.total_price {
    font-weight: bold;
    color: green;
    font-size: 24px;
    padding-left: 8px;
}

.price {
    font-weight: bold;
    padding-left: 8px;
    font-size: 24px;
}

.card-body {
    padding: 1rem !important;
}

#details {
display: none;
}

.info {
    padding: 2px !important;
}

.card-header {
    padding: .2rem .25rem !important;
}

.datepick {
    margin-bottom: 5px;
    width: 200px;
    height: 100px;
}

.warning {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: red !important;
}

/* ALGOLIA */
.aa-input-container {
    display: inline-block;
    position: relative;
    }
  .aa-input-search {
    width: 200px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    padding: 12px 28px 12px 12px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
      display: none; }
  .aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    fill: #e4e4e4; }
  .aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    min-width: 300px;
    margin-top: 0;
    box-sizing: border-box; }
  .aa-suggestion {
    padding: 12px;
    cursor: pointer;
  }
  .aa-suggestion + .aa-suggestion {
      border-top: 1px solid rgba(228, 228, 228, 0.6);
  }
    .aa-suggestion:hover, .aa-suggestion.aa-cursor {
      background-color: rgba(241, 241, 241, 0.35); }



/* SPINNER */
.spinner {
width: 60px;
height: 60px;

position: absolute;
margin: -25% 50%;
}

.double-bounce1, .double-bounce2 {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #aaaaaa;
opacity: 0.6;
position: absolute;
top: 0;
left: 0;

-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
0%, 100% { -webkit-transform: scale(0.0) }
50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
} 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
}
}